# Wrangle Pisa 2012
#### By Gabriela Sikora


### Abstract



### Table of Contents

<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
    <ul>
    <li><a href="#gathering">Gathering Data</a></li>
    <li><a href="#assessing1">Initial Assessment</a></li>
        <ul>
          <li><a href="#issues1">Identified Issues</a></li>
        </ul>
    <li><a href="#cleaning1">Cleaning Data</a></li>
    <li><a href="#assessing2">Final Assessment</a></li>
    </ul>
<li><a href="#sav">Store</a></li>
<li><a href="#conclusion">Conclusion</a></li>
<li><a href="#references">References</a></li>    
</ul>

<a id='intro'></a>
## Introduction



To begin, we first need to import all the relevant libraries:
#### Import

In [1]:
# import all packages
import numpy as np
import pandas as pd

<a id='wrangling'></a>
## Data Wrangling

In this section of the report, we will load in the data, check it for cleanliness, and then trim and clean the datasets for analysis.

<a id='gathering'></a>
### Gathering Data

Unfortunately the Pisa dataset is too large to be uploaded to github, but if you would like to work with it yourself then place follow this link: https://s3.amazonaws.com/udacity-hosted-downloads/ud507/pisa2012.csv.zip

In [2]:
# Encoding help found here: https://stackoverflow.com/questions/30462807/encoding-error-in-panda-read-csv

# Load in the Pisa dataframe
pisa = pd.read_csv('pisa2012.csv', encoding="cp1252", sep=',')

# Load in the Pisa dictionary
pisa_dict = pd.read_csv('pisadict2012.csv', encoding="cp1252", sep=',')

/Users/gabriela/Desktop/Code/myenv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (15,16,17,21,22,23,24,25,26,30,31,36,37,45,65,123,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,475) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<a id='assessing1'></a>
### First Assessment

In this section, we will do the preliminary visual and programmatic assessment of the pisa datasets to determine whether or not it holds any major quality or tidiness issues.

In [3]:
pisa

,Unnamed: 0,CNT,SUBNATIO,STRATUM,OECD,NC,SCHOOLID,STIDSTD,ST01Q01,ST02Q01,...,W_FSTR75,W_FSTR76,W_FSTR77,W_FSTR78,W_FSTR79,W_FSTR80,WVARSTRR,VAR_UNIT,SENWGT_STU,VER_STU
0,1,Albania,80000,ALB0006,Non-OECD,Albania,1,1,10,1.0,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
1,2,Albania,80000,ALB0006,Non-OECD,Albania,1,2,10,1.0,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
2,3,Albania,80000,ALB0006,Non-OECD,Albania,1,3,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
3,4,Albania,80000,ALB0006,Non-OECD,Albania,1,4,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
4,5,Albania,80000,ALB0006,Non-OECD,Albania,1,5,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
5,6,Albania,80000,ALB0006,Non-OECD,Albania,1,6,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
6,7,Albania,80000,ALB0006,Non-OECD,Albania,1,7,10,1.0,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
7,8,Albania,80000,ALB0006,Non-OECD,Albania,1,8,10,1.0,...,14.4599,14.6374,15.8728,15.8728,5.2248,15.2579,19,1,0.2322,22NOV13
8,9,Albania,80000,ALB0006,Non-OECD,Albania,1,9,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
9,10,Albania,80000,ALB0005,Non-OECD,Albania,2,10,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
10,11,Albania,80000,ALB0005,Non-OECD,Albania,2,11,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
11,12,Albania,80000,ALB0005,Non-OECD,Albania,2,12,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
12,13,Albania,80000,ALB0005,Non-OECD,Albania,2,13,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
13,14,Albania,80000,ALB0005,Non-OECD,Albania,2,14,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
14,15,Albania,80000,ALB0005,Non-OECD,Albania,2,15,10,1.0,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
15,16,Albania,80000,ALB0005,Non-OECD,Albania,2,16,10,1.0,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
16,17,Albania,80000,ALB0005,Non-OECD,Albania,2,17,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
17,18,Albania,80000,ALB0005,Non-OECD,Albania,2,18,10,1.0,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
18,19,Albania,80000,ALB0005,Non-OECD,Albania,2,19,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
19,20,Albania,80000,ALB0005,Non-OECD,Albania,2,20,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
20,21,Albania,80000,ALB0005,Non-OECD,Albania,2,21,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
21,22,Albania,80000,ALB0005,Non-OECD,Albania,2,22,10,1.0,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
22,23,Albania,80000,ALB0005,Non-OECD,Albania,2,23,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
23,24,Albania,80000,ALB0005,Non-OECD,Albania,2,24,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
24,25,Albania,80000,ALB0005,Non-OECD,Albania,2,25,10,1.0,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
25,26,Albania,80000,ALB0005,Non-OECD,Albania,2,26,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
26,27,Albania,80000,ALB0005,Non-OECD,Albania,2,27,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
27,28,Albania,80000,ALB0005,Non-OECD,Albania,2,28,10,1.0,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
28,29,Albania,80000,ALB0005,Non-OECD,Albania,2,29,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
29,30,Albania,80000,ALB0005,Non-OECD,Albania,2,30,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485460,485461,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4930,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485461,485462,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4931,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485462,485463,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4932,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485463,485464,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4933,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485464,485465,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4934,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485465,485466,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4935,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485466,485467,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4936,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485467,485468,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4937,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485468,485469,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4938,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485469,485470,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4939,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485470,485471,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4940,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485471,485472,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4941,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485472,485473,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4942,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485473,485474,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4943,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485474,485475,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4944,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485475,485476,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4945,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485476,485477,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4946,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485477,485478,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4947,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485478,485479,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4948,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485479,485480,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4949,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485480,485481,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4950,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485481,485482,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4951,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485482,485483,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4952,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485483,485484,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4953,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485484,485485,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4954,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485485,485486,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4955,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485486,485487,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4956,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485487,485488,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4957,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485488,485489,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4958,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485489,485490,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4959,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13

In [4]:
pisa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485490 entries, 0 to 485489
Columns: 636 entries, Unnamed: 0 to VER_STU
dtypes: float64(250), int64(18), object(368)
memory usage: 2.3+ GB

In [5]:
pisa_dict

     Unnamed: 0                                                  x
0           CNT                           Country code 3-character
1      SUBNATIO  Adjudicated sub-region code 7-digit code (3-di...
2       STRATUM  Stratum ID 7-character (cnt + region ID + orig...
3          OECD                                       OECD country
4            NC                       National Centre 6-digit Code
5      SCHOOLID  School ID 7-digit (region ID + stratum ID + 3-...
6       STIDSTD                                         Student ID
7       ST01Q01                                International Grade
8       ST02Q01                           National Study Programme
9       ST03Q01                                      Birth - Month
10      ST03Q02                                        Birth -Year
11      ST04Q01                                             Gender
12      ST05Q01                                   Attend <ISCED 0>
13      ST06Q01                                   Age at <ISCED 1>
14      ST07Q01                                 Repeat - <ISCED 1>
15      ST07Q02                                 Repeat - <ISCED 2>
16      ST07Q03                                 Repeat - <ISCED 3>
17      ST08Q01                          Truancy - Late for School
18      ST09Q01                    Truancy - Skip whole school day
19     ST115Q01           Truancy - Skip classes within school day
20      ST11Q01                                   At Home - Mother
21      ST11Q02                                   At Home - Father
22      ST11Q03                                 At Home - Brothers
23      ST11Q04                                  At Home - Sisters
24      ST11Q05                             At Home - Grandparents
25      ST11Q06                                   At Home - Others
26      ST13Q01                          Mother<Highest Schooling>
27      ST14Q01            Mother Qualifications - <ISCED level 6>
28      ST14Q02           Mother Qualifications - <ISCED level 5A>
29      ST14Q03           Mother Qualifications - <ISCED level 5B>
..          ...                                                ...
605    W_FSTR55           FINAL STUDENT REPLICATE BRR-FAY WEIGHT55
606    W_FSTR56           FINAL STUDENT REPLICATE BRR-FAY WEIGHT56
607    W_FSTR57           FINAL STUDENT REPLICATE BRR-FAY WEIGHT57
608    W_FSTR58           FINAL STUDENT REPLICATE BRR-FAY WEIGHT58
609    W_FSTR59           FINAL STUDENT REPLICATE BRR-FAY WEIGHT59
610    W_FSTR60           FINAL STUDENT REPLICATE BRR-FAY WEIGHT60
611    W_FSTR61           FINAL STUDENT REPLICATE BRR-FAY WEIGHT61
612    W_FSTR62           FINAL STUDENT REPLICATE BRR-FAY WEIGHT62
613    W_FSTR63           FINAL STUDENT REPLICATE BRR-FAY WEIGHT63
614    W_FSTR64           FINAL STUDENT REPLICATE BRR-FAY WEIGHT64
615    W_FSTR65           FINAL STUDENT REPLICATE BRR-FAY WEIGHT65
616    W_FSTR66           FINAL STUDENT REPLICATE BRR-FAY WEIGHT66
617    W_FSTR67           FINAL STUDENT REPLICATE BRR-FAY WEIGHT67
618    W_FSTR68           FINAL STUDENT REPLICATE BRR-FAY WEIGHT68
619    W_FSTR69           FINAL STUDENT REPLICATE BRR-FAY WEIGHT69
620    W_FSTR70           FINAL STUDENT REPLICATE BRR-FAY WEIGHT70
621    W_FSTR71           FINAL STUDENT REPLICATE BRR-FAY WEIGHT71
622    W_FSTR72           FINAL STUDENT REPLICATE BRR-FAY WEIGHT72
623    W_FSTR73           FINAL STUDENT REPLICATE BRR-FAY WEIGHT73
624    W_FSTR74           FINAL STUDENT REPLICATE BRR-FAY WEIGHT74
625    W_FSTR75           FINAL STUDENT REPLICATE BRR-FAY WEIGHT75
626    W_FSTR76           FINAL STUDENT REPLICATE BRR-FAY WEIGHT76
627    W_FSTR77           FINAL STUDENT REPLICATE BRR-FAY WEIGHT77
628    W_FSTR78           FINAL STUDENT REPLICATE BRR-FAY WEIGHT78
629    W_FSTR79           FINAL STUDENT REPLICATE BRR-FAY WEIGHT79
630    W_FSTR80           FINAL STUDENT REPLICATE BRR-FAY WEIGHT80
631    WVARSTRR           RANDOMIZED FINAL VARIANCE STRATUM (1-80)
632    VAR_UNIT                    RANDOMLY ASSIGNED VARIANCE UNIT
633  SENWGT_STU  Senate weight - sum of weight within the count...
634     VER_STU                      Date of the database creation

[635 rows x 2 columns]

In [6]:
# Check for null values in relevant columns
columns = ['STIDSTD', 'ST01Q01', 'ST04Q01', 'ST13Q01', 
            'ST17Q01', 'ST28Q01', 'ST57Q01', 'ST57Q02', 'ST57Q03', 
            'ST57Q04', 'ST57Q05', 'MMINS', 'LMINS', 'SMINS',
            'PV1MATH', 'PV2MATH', 'PV3MATH', 'PV4MATH', 'PV5MATH',  
            'PV1READ', 'PV2READ',  'PV3READ', 'PV4READ', 'PV5READ',
            'PV1SCIE', 'PV2SCIE', 'PV3SCIE', 'PV4SCIE', 'PV5SCIE']

for x in columns:
    print(x, pisa[x].isna().sum())

STIDSTD 0
ST01Q01 0
ST04Q01 0
ST13Q01 27511
ST17Q01 42229
ST28Q01 11725
ST57Q01 184123
ST57Q02 215682
ST57Q03 201677
ST57Q04 205833
ST57Q05 195988
MMINS 202187
LMINS 202624
SMINS 214576
PV1MATH 0
PV2MATH 0
PV3MATH 0
PV4MATH 0
PV5MATH 0
PV1READ 0
PV2READ 0
PV3READ 0
PV4READ 0
PV5READ 0
PV1SCIE 0
PV2SCIE 0
PV3SCIE 0
PV4SCIE 0
PV5SCIE 0

In [7]:
pisa['CNT'].value_counts()

Mexico                      33806
Italy                       31073
Spain                       25313
Canada                      21544
Brazil                      19204
Australia                   14481
United Kingdom              12659
United Arab Emirates        11500
Switzerland                 11229
Qatar                       10966
Colombia                     9073
Finland                      8829
Belgium                      8597
Denmark                      7481
Jordan                       7038
Chile                        6856
Thailand                     6606
Japan                        6351
Chinese Taipei               6046
Peru                         6035
Slovenia                     5911
Argentina                    5908
Kazakhstan                   5808
Portugal                     5722
Indonesia                    5622
Singapore                    5546
Macao-China                  5335
Czech Republic               5327
Uruguay                      5315
Bulgaria                     5282
                            ...
Ireland                      5016
Croatia                      5008
Germany                      5001
United States of America     4978
Vietnam                      4959
Turkey                       4848
Hungary                      4810
Estonia                      4779
Austria                      4755
Montenegro                   4744
Albania                      4743
Sweden                       4736
Norway                       4686
Serbia                       4684
Slovak Republic              4678
Hong Kong-China              4670
Lithuania                    4618
France                       4613
Poland                       4607
Costa Rica                   4602
Netherlands                  4460
Tunisia                      4407
Latvia                       4306
New Zealand                  4291
Iceland                      3508
Florida (USA)                1896
Perm(Russian Federation)     1761
Massachusetts (USA)          1723
Connecticut (USA)            1697
Liechtenstein                 293
Name: CNT, Length: 68, dtype: int64

In [8]:
pisa.duplicated().sum()

0

<a id='issues1'></a>
### Identified Issues
Here we can see some of the issues noticed in the dataframes. These quality issues will be cleaned in the following section.

1. Narrow down the dataframe by only looking at variables of interest since there are more variables than needed
2. Make the variable names readable since they are codes that can only be read with the dictionary
3. Create an average of all Math, Reading, and Science scores since all 5 scores for each are not necessary
4. Missing values in relevant columns ('Mother Highest Schooling', 'Father Highest Schooling', 'How many books at home', 'Out-of-School Study Time - Homework', 'Out-of-School Study Time - Guided Homework', 'Out-of-School Study Time - Personal Tutor','Out-of-School Study Time - Commercial Company', 'Out-of-School Study Time - With Parent', 'Learning time (minutes per week)- Mathematics', 'Learning time (minutes per week)  - test language', 'Learning time (minutes per week) - Science')
5. Create a total for Out-of-School Study Time and Learning time (minutes per week)
6. Single countries have various entries in the country column (Florida (USA), Massachusetts (USA), Connecticut (USA) and United States of America)

<a id='cleaning1'></a>
### First Cleaning

In [9]:
# Create a copy to preserve the original dataframe
pisa_clean = pisa.copy()

### Narrow down the dataframe by only looking at variables of interest

There are 636 columns available in the original dataframe, which is far more than what is necessary. We will rather look at just the following variables.

In [10]:
pisa_clean = pisa_clean[['STIDSTD', 'ST04Q01', 'ST13Q01', 'ST14Q01', 'ST14Q02', 'ST14Q03', 'ST14Q04', 
                         'ST17Q01', 'ST18Q01', 'ST18Q02', 'ST18Q03', 'ST18Q04', 
                         'ST28Q01', 
                         'ST57Q01', 'ST57Q02', 'ST57Q03', 'ST57Q04', 'ST57Q05', 'MMINS', 
                         'LMINS', 'SMINS', 'PV1MATH', 'PV2MATH', 'PV3MATH', 'PV4MATH', 
                         'PV5MATH', 'PV1READ', 'PV2READ',  'PV3READ', 'PV4READ', 'PV5READ',
                         'PV1SCIE', 'PV2SCIE', 'PV3SCIE', 'PV4SCIE', 'PV5SCIE']]

In [11]:
# Check to see if the columns are correctly reduced
list(pisa_clean)

['STIDSTD',
 'ST04Q01',
 'ST13Q01',
 'ST14Q01',
 'ST14Q02',
 'ST14Q03',
 'ST14Q04',
 'ST17Q01',
 'ST18Q01',
 'ST18Q02',
 'ST18Q03',
 'ST18Q04',
 'ST28Q01',
 'ST57Q01',
 'ST57Q02',
 'ST57Q03',
 'ST57Q04',
 'ST57Q05',
 'MMINS',
 'LMINS',
 'SMINS',
 'PV1MATH',
 'PV2MATH',
 'PV3MATH',
 'PV4MATH',
 'PV5MATH',
 'PV1READ',
 'PV2READ',
 'PV3READ',
 'PV4READ',
 'PV5READ',
 'PV1SCIE',
 'PV2SCIE',
 'PV3SCIE',
 'PV4SCIE',
 'PV5SCIE']

### Create an average of all Math, Reading, and Science scores

For each of the Math, Reading, and Science scores, there are 5 scores provided. The variation between these scores is not needed, so rather we will look at the average for each of these major categories and remove the individual scores.

In [12]:
# Create average of Math scores
pisa_clean['Average Math Score']    = (pisa_clean['PV1MATH'] + pisa_clean['PV2MATH'] + pisa_clean['PV3MATH'] + pisa_clean['PV4MATH'] + pisa_clean['PV5MATH']) / 5

# Create average of Reading scores
pisa_clean['Average Reading Score'] = (pisa_clean['PV1READ'] + pisa_clean['PV2READ'] + pisa_clean['PV3READ'] + pisa_clean['PV4READ'] + pisa_clean['PV5READ']) / 5

# Create average of Science scores
pisa_clean['Average Science Score'] = (pisa_clean['PV1SCIE'] + pisa_clean['PV2SCIE'] + pisa_clean['PV3SCIE'] + pisa_clean['PV4SCIE'] + pisa_clean['PV5SCIE']) / 5

# Create average score
pisa_clean['Average Total Score']   = (pisa_clean['Average Math Score'] + pisa_clean['Average Reading Score'] + pisa_clean['Average Science Score'] +pisa_clean['Average Math Score']) / 3

In [13]:
# Remove the individual scores for Math, Reading, and Science
pisa_clean.drop(columns=['PV1MATH',  'PV2MATH', 'PV3MATH', 'PV4MATH', 'PV5MATH',   
                         'PV1READ', 'PV2READ',  'PV3READ', 'PV4READ',  'PV5READ',
                         'PV1SCIE',  'PV2SCIE', 'PV3SCIE',  'PV4SCIE', 'PV5SCIE'], inplace=True)

In [14]:
# Test to see accuracy of the Math score
print(pisa_clean['Average Math Score'].describe())
print('-'*22)

# Test to see accuracy of the Reading score
print(pisa_clean['Average Reading Score'].describe())
print('-'*22)

# Test to see accuracy of the Science score
print(pisa_clean['Average Science Score'].describe())

# Test to see accuracy of the Total score
print(pisa_clean['Average Total Score'].describe())

count    485490.000000
mean        469.651234
std         100.786610
min          54.767080
25%         396.019620
50%         465.734520
75%         540.123060
max         903.107960
Name: Average Math Score, dtype: float64
----------------------
count    485490.000000
mean        472.006964
std          98.863310
min           6.445400
25%         405.044200
50%         475.477980
75%         542.831195
max         849.359740
Name: Average Reading Score, dtype: float64
----------------------
count    485490.000000
mean        475.808094
std          97.998470
min          25.158540
25%         405.762800
50%         475.512860
75%         546.381920
max         857.832900
Name: Average Science Score, dtype: float64
count    485490.000000
mean        629.039175
std         128.839689
min         105.496473
25%         536.312167
50%         627.318087
75%         721.099990
max        1123.882273
Name: Average Total Score, dtype: float64

In [15]:
pisa_clean.sample(10)

,STIDSTD,ST04Q01,ST13Q01,ST14Q01,ST14Q02,ST14Q03,ST14Q04,ST17Q01,ST18Q01,ST18Q02,...,ST57Q03,ST57Q04,ST57Q05,MMINS,LMINS,SMINS,Average Math Score,Average Reading Score,Average Science Score,Average Total Score
93109,18640,Male,<ISCED level 3A>,No,No,No,No,<ISCED level 2>,No,No,...,0.0,0.0,0.0,350.0,350.0,350.0,580.47204,602.08212,673.94628,812.324160
158207,12625,Male,<ISCED level 3A>,Yes,NaN,NaN,NaN,<ISCED level 3A>,NaN,Yes,...,0.0,0.0,0.0,165.0,220.0,165.0,698.71476,666.15750,710.49984,924.695620
130281,2508,Male,<ISCED level 3A>,No,Yes,No,No,<ISCED level 3A>,No,Yes,...,1.0,0.0,0.0,180.0,135.0,90.0,635.38712,594.86462,639.53748,835.058780
479280,3728,Male,<ISCED level 3A>,No,No,No,No,<ISCED level 3A>,No,No,...,0.0,0.0,0.0,250.0,250.0,250.0,536.53996,539.37000,587.78440,733.411440
283381,4681,Male,<ISCED level 3A>,No,No,NaN,NaN,"<ISCED level 3B, 3C>",No,No,...,0.0,0.0,0.0,250.0,200.0,100.0,543.78410,552.76248,546.38194,728.904207
430034,1713,Male,<ISCED level 3A>,NaN,Yes,NaN,NaN,<ISCED level 3A>,NaN,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,493.07526,515.31164,537.61654,679.692900
25492,3342,Male,<ISCED level 3A>,NaN,NaN,Yes,NaN,<ISCED level 3A>,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,403.88690,435.35772,451.08166,564.737727
480202,4650,Male,<ISCED level 3A>,Yes,Yes,No,No,<ISCED level 3A>,No,No,...,2.0,0.0,0.0,225.0,225.0,225.0,430.13710,432.55090,460.59306,584.472720
418703,1159,Male,<ISCED level 3A>,No,No,No,No,<ISCED level 1>,No,No,...,NaN,NaN,NaN,270.0,90.0,450.0,386.98398,311.29682,390.09698,491.787253
353322,3814,Female,"<ISCED level 3B, 3C>",No,No,Yes,NaN,"<ISCED level 3B, 3C>",No,No,...,0.0,0.0,2.0,180.0,180.0,90.0,581.95202,590.89122,559.43680,771.410687

### Make the variable names readable

In the original dataframe, the variable names are all codes and unreadable without the dictionary. Therefore, we will change them to accurately reflect the information within the column.

In [16]:
# Rename columns
pisa_clean.rename({'STIDSTD': 'Student ID',
                   'ST04Q01': 'Gender', 
                   'ST13Q01': 'Mother - Highest Schooling', 
                   'ST14Q01': 'Mother Qualifications - ISCED level 6',
                   'ST14Q02': 'Mother Qualifications - ISCED level 5A',
                   'ST14Q03': 'Mother Qualifications - ISCED level 5B',
                   'ST14Q04': 'Mother Qualifications - ISCED level 4',
                   'ST17Q01': 'Father - Highest Schooling',
                   'ST18Q01': 'Father Qualifications - ISCED level 6',
                   'ST18Q02': 'Father Qualifications - ISCED level 5A',
                   'ST18Q03': 'Father Qualifications - ISCED level 5B',
                   'ST18Q04': 'Father Qualifications - ISCED level 4',
                   'ST28Q01': 'How many books at home', 
                   'ST57Q01': 'Out-of-School Study Time - Homework',
                   'ST57Q02': 'Out-of-School Study Time - Guided Homework',
                   'ST57Q03': 'Out-of-School Study Time - Personal Tutor',
                   'ST57Q04': 'Out-of-School Study Time - Commercial Company',
                   'ST57Q05': 'Out-of-School Study Time - With Parent',
                   'MMINS': 'Learning time (minutes per week)- <Mathematics>',
                   'LMINS': 'Learning time (minutes per week)  - <test language>',
                   'SMINS': 'Learning time (minutes per week) - <Science>'}, axis='columns', inplace=True)

In [17]:
# Check to see if the columns are correctly renamed
list(pisa_clean)

['Student ID',
 'Gender',
 'Mother - Highest Schooling',
 'Mother Qualifications - ISCED level 6',
 'Mother Qualifications - ISCED level 5A',
 'Mother Qualifications - ISCED level 5B',
 'Mother Qualifications - ISCED level 4',
 'Father - Highest Schooling',
 'Father Qualifications - ISCED level 6',
 'Father Qualifications - ISCED level 5A',
 'Father Qualifications - ISCED level 5B',
 'Father Qualifications - ISCED level 4',
 'How many books at home',
 'Out-of-School Study Time - Homework',
 'Out-of-School Study Time - Guided Homework',
 'Out-of-School Study Time - Personal Tutor',
 'Out-of-School Study Time - Commercial Company',
 'Out-of-School Study Time - With Parent',
 'Learning time (minutes per week)- <Mathematics>',
 'Learning time (minutes per week)  - <test language>',
 'Learning time (minutes per week) - <Science>',
 'Average Math Score',
 'Average Reading Score',
 'Average Science Score',
 'Average Total Score']

### Education
Multiple columns with the single variable. 

http://uis.unesco.org/sites/default/files/documents/international-standard-classification-of-education-isced-2011-en.pdf

In [18]:
father_edu = pisa_clean.copy()

In [19]:
father_edu[['<ISCED level 1>', 
            '<ISCED level 2>', 
            '<ISCED level 3A>', 
            '<ISCED level 3B, 3C>', 
            'He did not complete <ISCED level 1>']] = pd.get_dummies(father_edu['Father - Highest Schooling'])

In [20]:
father_edu.rename({'He did not complete <ISCED level 1>': '<ISCED level 0>',
                   '<ISCED level 3A>': '<ISCED level 3>', 
                   '<ISCED level 3B, 3C>': '<ISCED level 3>',
                   'Father Qualifications - ISCED level 4': '<ISCED level 4>',
                   'Father Qualifications - ISCED level 5A': '<ISCED level 5>',
                   'Father Qualifications - ISCED level 5B': '<ISCED level 5>',
                   'Father Qualifications - ISCED level 6': '<ISCED level 6>'}, axis='columns', inplace=True)

In [21]:
father_edu['<ISCED level 0>'] = father_edu['<ISCED level 0>'].astype(str)
father_edu['<ISCED level 1>'] = father_edu['<ISCED level 1>'].astype(str)
father_edu['<ISCED level 2>'] = father_edu['<ISCED level 2>'].astype(str)
father_edu['<ISCED level 3>'] = father_edu['<ISCED level 3>'].astype(str)

In [22]:
father_edu['<ISCED level 0>'] = father_edu['<ISCED level 0>'].replace(regex='1', value='<ISCED level 0>')
father_edu['<ISCED level 1>'] = father_edu['<ISCED level 1>'].replace(regex='1', value='<ISCED level 1>')
father_edu['<ISCED level 2>'] = father_edu['<ISCED level 2>'].replace(regex='1', value='<ISCED level 2>')
father_edu['<ISCED level 3>'] = father_edu['<ISCED level 3>'].replace(regex='1', value='<ISCED level 3>')
father_edu['<ISCED level 4>'] = father_edu['<ISCED level 4>'].replace(regex='Yes', value='<ISCED level 4>')
father_edu['<ISCED level 5>'] = father_edu['<ISCED level 5>'].replace(regex='Yes', value='<ISCED level 5>')
father_edu['<ISCED level 6>'] = father_edu['<ISCED level 6>'].replace(regex='Yes', value='<ISCED level 6>')

In [23]:
father_edu.sample(10)

,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,Father - Highest Schooling,<ISCED level 6>,<ISCED level 5>,...,Learning time (minutes per week) - <Science>,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,<ISCED level 1>,<ISCED level 2>,<ISCED level 3>,<ISCED level 3>,<ISCED level 0>
158964,13382,Male,<ISCED level 3A>,No,No,No,No,<ISCED level 3A>,No,No,...,NaN,458.72412,493.41856,471.78292,627.549907,0,0,<ISCED level 3>,0,0
402496,2280,Female,<ISCED level 3A>,No,No,No,Yes,<ISCED level 2>,No,No,...,0.0,499.38462,525.83724,482.87952,669.162000,0,<ISCED level 2>,0,0,0
32466,10316,Male,<ISCED level 3A>,No,No,No,No,"<ISCED level 3B, 3C>",NaN,NaN,...,280.0,451.09050,491.09290,519.06004,637.444647,0,0,0,<ISCED level 3>,0
254240,13651,Female,<ISCED level 3A>,No,Yes,No,No,<ISCED level 3A>,No,<ISCED level 5>,...,180.0,454.51784,538.86392,450.42894,632.776180,0,0,<ISCED level 3>,0,0
332630,16928,Female,"<ISCED level 3B, 3C>",No,Yes,Yes,NaN,"<ISCED level 3B, 3C>",No,<ISCED level 5>,...,NaN,541.13568,537.59302,478.68332,699.515900,0,0,0,<ISCED level 3>,0
59394,4129,Male,<ISCED level 3A>,No,No,No,No,<ISCED level 1>,No,No,...,NaN,511.30238,527.82200,490.05968,680.162147,<ISCED level 1>,0,0,0,0
279791,1091,Female,<ISCED level 3A>,No,No,NaN,NaN,<ISCED level 3A>,No,No,...,200.0,594.33712,630.36844,629.74636,816.263013,0,0,<ISCED level 3>,0,0
445742,2148,Male,<ISCED level 3A>,No,Yes,No,NaN,<ISCED level 3A>,No,No,...,NaN,415.80464,413.86560,465.90824,570.461040,0,0,<ISCED level 3>,0,0
278800,100,Male,<ISCED level 3A>,No,Yes,NaN,NaN,<ISCED level 3A>,No,<ISCED level 5>,...,NaN,566.29538,557.01282,547.68744,745.763673,0,0,<ISCED level 3>,0,0
355500,1248,Female,<ISCED level 1>,No,No,No,No,<ISCED level 1>,No,No,...,NaN,316.02274,295.56674,362.86834,430.160187,<ISCED level 1>,0,0,0,0

In [24]:
father_edu = pd.melt(father_edu, 
                     id_vars=['Student ID', 'Gender',
                            'Mother - Highest Schooling', 
                            'Mother Qualifications - ISCED level 6', 
                            'Mother Qualifications - ISCED level 5A',
                            'Mother Qualifications - ISCED level 5B',
                            'Mother Qualifications - ISCED level 4',
                            'How many books at home',
                            'Out-of-School Study Time - Homework',
                            'Out-of-School Study Time - Guided Homework',
                            'Out-of-School Study Time - Personal Tutor',
                            'Out-of-School Study Time - Commercial Company',
                            'Out-of-School Study Time - With Parent',
                            'Learning time (minutes per week)- <Mathematics>',
                            'Learning time (minutes per week)  - <test language>',
                            'Learning time (minutes per week) - <Science>',
                            'Average Math Score',
                            'Average Reading Score',
                            'Average Science Score',
                            'Average Total Score'], var_name='Completed_edu - Father', value_name='Education - Father')

In [25]:
father_edu.sample(10)

,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,How many books at home,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,...,Out-of-School Study Time - With Parent,Learning time (minutes per week)- <Mathematics>,Learning time (minutes per week) - <test language>,Learning time (minutes per week) - <Science>,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Completed_edu - Father,Education - Father
1493628,527,Male,<ISCED level 3A>,NaN,Yes,NaN,NaN,More than 500 books,5.0,2.0,...,2.0,150.0,150.0,100.0,523.22016,487.48416,527.91866,687.281047,<ISCED level 5>,NaN
1273469,1686,Female,<ISCED level 3A>,NaN,NaN,NaN,Yes,26-100 books,1.0,0.0,...,0.0,180.0,180.0,180.0,377.79248,393.42574,373.96496,507.658553,<ISCED level 5>,NaN
3580103,5999,Male,"<ISCED level 3B, 3C>",No,No,Yes,No,26-100 books,2.0,0.0,...,0.0,135.0,180.0,90.0,633.59560,557.89492,624.24468,816.443600,<ISCED level 3>,0
3243726,15084,Female,<ISCED level 1>,No,No,No,NaN,0-10 books,2.0,1.0,...,0.0,250.0,240.0,240.0,370.93784,393.18742,366.59826,500.553787,<ISCED level 2>,<ISCED level 2>
4562516,3990,Female,<ISCED level 3A>,No,Yes,Yes,Yes,More than 500 books,8.0,0.0,...,1.0,180.0,240.0,120.0,580.00466,632.59252,608.48566,800.362500,<ISCED level 0>,0
1751516,4187,Female,NaN,No,No,No,NaN,0-10 books,1.0,1.0,...,1.0,NaN,NaN,NaN,270.84436,289.21228,298.34018,376.413727,<ISCED level 5>,No
361867,2418,Female,<ISCED level 2>,No,No,No,NaN,11-25 books,NaN,NaN,...,NaN,NaN,NaN,NaN,435.20018,505.58234,462.83104,612.937913,Father - Highest Schooling,<ISCED level 2>
297076,891,Male,NaN,No,Yes,NaN,No,11-25 books,7.0,1.0,...,0.0,135.0,180.0,360.0,476.63968,450.27388,506.84444,636.799227,Father - Highest Schooling,NaN
495491,5259,Male,<ISCED level 3A>,NaN,NaN,Yes,NaN,26-100 books,10.0,2.0,...,2.0,400.0,400.0,400.0,372.18414,307.60786,326.50128,459.492473,<ISCED level 6>,NaN
2827811,145,Male,<ISCED level 3A>,No,No,Yes,No,0-10 books,1.0,1.0,...,0.0,240.0,240.0,80.0,524.07696,490.13058,489.03396,675.772820,<ISCED level 1>,0

In [26]:
father_edu = father_edu[(father_edu['Education - Father'] != '0')] 
father_edu = father_edu[(father_edu['Education - Father'] != 'No')]

In [27]:
father_edu.sample(70)

,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,How many books at home,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,...,Out-of-School Study Time - With Parent,Learning time (minutes per week)- <Mathematics>,Learning time (minutes per week) - <test language>,Learning time (minutes per week) - <Science>,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Completed_edu - Father,Education - Father
4322380,777,Female,<ISCED level 2>,No,No,No,No,101-200 books,2.0,0.0,...,0.0,135.0,180.0,180.0,519.48122,495.25632,530.71614,688.311633,<ISCED level 3>,<ISCED level 3>
2242987,224,Male,<ISCED level 3A>,NaN,Yes,NaN,NaN,201-500 books,8.0,0.0,...,0.0,200.0,150.0,200.0,675.96976,626.22066,662.66318,880.274453,<ISCED level 4>,NaN
221683,295,Male,<ISCED level 3A>,Yes,NaN,NaN,NaN,More than 500 books,NaN,NaN,...,NaN,NaN,NaN,NaN,387.52920,264.38304,315.87094,451.770793,Father - Highest Schooling,<ISCED level 3A>
313850,3483,Male,NaN,NaN,NaN,NaN,NaN,0-10 books,NaN,NaN,...,NaN,NaN,NaN,NaN,205.33572,221.87992,272.69676,301.749373,Father - Highest Schooling,NaN
3665548,26529,Male,<ISCED level 3A>,NaN,NaN,NaN,NaN,101-200 books,6.0,2.0,...,1.0,NaN,NaN,NaN,566.76272,560.62156,580.13802,758.095007,<ISCED level 3>,<ISCED level 3>
2180583,3089,Female,NaN,NaN,NaN,NaN,NaN,11-25 books,2.0,NaN,...,3.0,315.0,315.0,225.0,302.85872,399.70080,362.96158,456.126607,<ISCED level 4>,NaN
4832627,2235,Male,She did not complete <ISCED level 1>,No,No,No,No,0-10 books,1.0,1.0,...,1.0,100.0,60.0,60.0,374.52096,318.83508,314.93846,460.938487,<ISCED level 0>,<ISCED level 0>
2284532,26870,Female,<ISCED level 2>,No,No,No,NaN,11-25 books,5.0,0.0,...,0.0,NaN,150.0,NaN,422.65930,461.02154,445.67324,584.004460,<ISCED level 4>,NaN
2381900,2257,Female,"<ISCED level 3B, 3C>",No,No,Yes,Yes,26-100 books,NaN,NaN,...,NaN,NaN,NaN,NaN,370.70414,412.09202,350.46624,501.322180,<ISCED level 4>,<ISCED level 4>
1758186,913,Male,<ISCED level 3A>,NaN,Yes,Yes,Yes,201-500 books,NaN,NaN,...,NaN,NaN,NaN,NaN,625.41670,610.02138,665.55388,842.136220,<ISCED level 5>,NaN
387479,3951,Male,<ISCED level 3A>,NaN,Yes,NaN,NaN,11-25 books,4.0,0.0,...,0.0,NaN,180.0,NaN,470.01870,504.24482,491.17866,645.153627,Father - Highest Schooling,<ISCED level 3A>
3572020,2695,Female,<ISCED level 3A>,No,No,No,Yes,11-25 books,6.0,4.0,...,3.0,225.0,225.0,360.0,486.14270,518.84730,496.68036,662.604353,<ISCED level 3>,<ISCED level 3>
123210,39,Male,She did not complete <ISCED level 1>,No,No,No,No,0-10 books,4.0,0.0,...,0.0,200.0,200.0,120.0,417.12884,391.17054,453.22640,559.551540,Father - Highest Schooling,<ISCED level 1>
207645,745,Female,"<ISCED level 3B, 3C>",No,No,No,No,26-100 books,NaN,NaN,...,NaN,NaN,NaN,NaN,632.73872,588.58774,594.77806,816.281080,Father - Highest Schooling,<ISCED level 3A>
3002644,15235,Male,<ISCED level 3A>,No,No,Yes,Yes,26-100 books,5.0,0.0,...,0.0,300.0,300.0,300.0,560.53122,521.64700,558.50428,733.737907,<ISCED level 2>,<ISCED level 2>
1869890,950,Female,<ISCED level 3A>,Yes,Yes,Yes,No,201-500 books,4.0,2.0,...,2.0,250.0,200.0,350.0,468.61660,483.57996,508.14996,642.987707,<ISCED level 5>,<ISCED level 5>
3621211,1393,Male,<ISCED level 3A>,NaN,NaN,NaN,NaN,101-200 books,NaN,NaN,...,NaN,NaN,NaN,NaN,466.90294,443.13658,493.50988,623.484113,<ISCED level 3>,<ISCED level 3>
88447,13978,Male,<ISCED level 3A>,No,No,Yes,No,26-100 books,1.0,1.0,...,1.0,350.0,350.0,350.0,434.57704,418.51686,474.20738,587.292773,Father - Highest Schooling,<ISCED level 3A>
1335811,922,Female,"<ISCED level 3B, 3C>",NaN,NaN,NaN,NaN,26-100 books,5.0,NaN,...,NaN,NaN,NaN,NaN,410.97522,474.28650,422.82732,573.021420,<ISCED level 5>,NaN
3282916,1381,Male,<ISCED level 1>,No,No,No,No,101-200 books,NaN,NaN,...,NaN,NaN,NaN,NaN,491.20580,489.64940,522.69676,664.919253,<ISCED level 2>,<ISCED level 2>
276024,4362,Female,<ISCED level 2>,No,No,No,NaN,0-10 books,NaN,NaN,...,NaN,NaN,NaN,NaN,298.10720,352.91594,319.50764,422.879327,Father - Highest Schooling,<ISCED level 3A>
635672,4600,Male,<ISCED level 2>,No,No,Yes,Yes,More than 500 books,2.0,1.0,...,0.0,200.0,150.0,NaN,510.67922,530.06744,474.39390,675.273260,<ISCED level 6>,NaN
327120,11418,Male,<ISCED level 2>,NaN,NaN,NaN,NaN,0-10 books,3.0,2.0,...,3.0,160.0,120.0,160.0,411.36470,376.01378,415.64712,538.130100,Father - Highest Schooling,<ISCED level 2>
1250413,733,Female,NaN,NaN,NaN,NaN,NaN,201-500 books,NaN,NaN,...,NaN,NaN,NaN,NaN,613.73264,622.02820,672.26782,840.587100,<ISCED level 5>,NaN
1069290,2297,Male,"<ISCED level 3B, 3C>",No,No,Yes,Yes,More than 500 books,5.0,5.0,...,5.0,200.0,200.0,200.0,482.48168,455.48654,426.18428,615.544727,<ISCED level 5>,<ISCED level 5>
3984270,4337,Female,"<ISCED level 3B, 3C>",NaN,NaN,NaN,NaN,26-100 books,NaN,NaN,...,NaN,NaN,NaN,NaN,445.87164,460.14780,473.27490,608.388660,<ISCED level 3>,<ISCED level 3>
2233488,669,Male,<ISCED level 3A>,No,No,No,NaN,201-500 books,3.0,1.0,...,0.0,300.0,300.0,300.0,667.79092,626.22066,649.51510,870.439200,<ISCED level 4>,NaN
2114264,1409,Female,<ISCED level 3A>,No,Yes,Yes,No,26-100 books,NaN,NaN,...,NaN,NaN,NaN,NaN,498.68360,566.58534,554.12160,706.024713,<ISCED level 4>,<ISCED level 4>
55123,5140,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,180.0,135.0,225.0,572.44900,570.96662,568.48192,761.448847,Father - Highest Schooling,NaN
1357753,3245,Male,<ISCED level 3A>,No,Yes,No,No,101-200 books,5.0,2.0,...,2.0,270.0,180.0,270.0,599.78968,575.13676,535.09884,769.938320,<ISCED level 5>,<ISCED level 5>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4281562,8392,Male,NaN,NaN,NaN,Yes,NaN,201-500 books,NaN,NaN,...,NaN,200.0,200.0,200.0,273.33696,212.17642,313.72624,357.525527,<ISCED level 3>,<ISCED level 3>
3558688,14676,Male,<ISCED level 3A>,Yes,No,Yes,No,201-500 books,7.0,1.0,...,0.0,220.0,220.0,0.0,477.65226,433.99442,432.15218,607.150373,<ISCED level 3>,<ISCED level 3>
1915915,5069,Female,"<ISCED level 3B, 3C>",No,No,NaN,No,0-10 books,2.0,1.0,...,2.0,120.0,120.0,120.0,345.38870,344.25792,296.84820,443.961173,<ISCED level 5>,NaN
282363,3663,Female,<ISCED level 3A>,No,No,NaN,NaN,0-10 books,2.0,NaN,...,NaN,NaN,NaN,NaN,308.31126,313.12098,362.30884,430.684113,Father - Highest Schooling,NaN
1361123,893,Male,"<ISCED level 3B, 3C>",Yes,NaN,NaN,NaN,11-25 books,NaN,NaN,...,NaN,NaN,NaN,NaN,274.89486,239.20194,293.49124,360.827633,<ISCED level 5>,<ISCED level 5>
1136339,19777,Female,<ISCED level 3A>,No,Yes,No,No,201-500 books,NaN,NaN,...,NaN,NaN,NaN,NaN,600.25704,611.46388,628.44088,813.472947,<ISCED level 5>,<ISCED level 5>
3417703,3031,Female,NaN,No,No,No,NaN,26-100 books,6.0,1.0,...,2.0,NaN,NaN,NaN,361.74636,354.10740,320.71988,466.106667,<ISCED level 3>,<ISCED level 3>
452391,4061,Male,<ISCED level 2>,No,No,No,NaN,101-200 books,NaN,NaN,...,NaN,NaN,NaN,NaN,506.16138,447.22652,484.93098,648.160087,Father - Highest Schooling,<ISCED level 3A>
599749,161,Female,<ISCED level 3A>,No,No,No,NaN,26-100 books,0.0,NaN,...,0.0,220.0,220.0,110.0,435.35596,485.96288,417.51212,591.395640,<ISCED level 6>,NaN
366279,2370,Female,<ISCED level 3A>,NaN,NaN,Yes,NaN,26-100 books,NaN,NaN,...,NaN,NaN,NaN,NaN,567.61956,612.17874,526.61320,758.010353,Father - Highest Schooling,<ISCED level 3A>
634439,3367,Male,<ISCED level 3A>,Yes,Yes,No,Yes,26-100 books,2.0,0.0,...,0.0,165.0,165.0,220.0,532.56738,526.29828,576.40806,722.613700,<ISCED level 6>,<ISCED level 6>
3794549,6869,Male,<ISCED level 3A>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,284.32000,303.51796,262.43938,378.199113,<ISCED level 3>,<ISCED level 3>
1243864,1222,Male,NaN,No,Yes,Yes,NaN,26-100 books,9.0,1.0,...,1.0,225.0,315.0,270.0,468.92816,460.77938,492.20440,630.280033,<ISCED level 5>,<ISCED level 5>
2103452,15910,Female,NaN,NaN,No,NaN,NaN,201-500 books,5.0,NaN,...,NaN,220.0,220.0,330.0,555.23446,516.14664,442.50280,689.706120,<ISCED level 4>,NaN
108720,1478,Female,<ISCED level 2>,No,No,No,No,0-10 books,3.0,3.0,...,3.0,120.0,120.0,120.0,321.55322,309.30830,340.48862,430.967787,Father - Highest Schooling,<ISCED level 2>
1328347,3115,Male,<ISCED level 2>,NaN,NaN,NaN,No,26-100 books,NaN,NaN,...,NaN,NaN,NaN,NaN,239.68686,169.75350,225.04662,291.391280,<ISCED level 5>,NaN
3269935,2743,Male,<ISCED level 2>,No,No,No,No,11-25 books,1.0,NaN,...,1.0,175.0,140.0,175.0,360.18850,272.72324,360.91012,451.336787,<ISCED level 2>,<ISCED level 2>
2236652,3833,Female,NaN,NaN,NaN,NaN,NaN,11-25 books,2.0,1.0,...,0.0,NaN,NaN,NaN,414.71416,481.43530,474.67362,595.179080,<ISCED level 4>,NaN
1833962,4606,Male,<ISCED level 3A>,NaN,NaN,Yes,NaN,101-200 books,12.0,12.0,...,0.0,225.0,180.0,405.0,398.66802,396.30300,409.30626,534.315100,<ISCED level 5>,NaN
425368,2593,Female,<ISCED level 3A>,NaN,Yes,NaN,Yes,101-200 books,3.0,2.0,...,3.0,280.0,210.0,525.0,694.43062,666.35070,643.92020,899.710713,Father - Highest Schooling,<ISCED level 3A>
3776845,5529,Female,<ISCED level 3A>,No,Yes,No,No,0-10 books,2.0,NaN,...,3.0,150.0,120.0,120.0,289.46100,287.70308,291.81274,386.145940,<ISCED level 3>,<ISCED level 3>
1250950,1270,Male,<ISCED level 3A>,Yes,Yes,NaN,NaN,More than 500 books,NaN,NaN,...,NaN,NaN,NaN,NaN,631.88194,644.02382,645.69188,851.159860,<ISCED level 5>,<ISCED level 5>
2125877,8243,Female,<ISCED level 3A>,NaN,Yes,NaN,NaN,101-200 books,NaN,NaN,...,NaN,NaN,NaN,NaN,633.43980,704.15986,681.68594,884.241800,<ISCED level 4>,NaN
2154071,541,Male,<ISCED level 3A>,NaN,Yes,NaN,NaN,26-100 books,1.0,1.0,...,1.0,180.0,180.0,270.0,521.35068,500.71626,519.06006,687.492560,<ISCED level 4>,NaN
699635,2575,Female,<ISCED level 2>,NaN,NaN,Yes,NaN,0-10 books,NaN,NaN,...,NaN,NaN,NaN,NaN,466.51346,514.87576,473.92764,640.610107,<ISCED level 6>,NaN
1605833,3781,Male,<ISCED level 2>,NaN,NaN,NaN,NaN,101-200 books,4.0,2.0,...,2.0,180.0,180.0,360.0,548.92506,570.16468,593.84558,753.953460,<ISCED level 5>,<ISCED level 5>
3656198,17179,Female,<ISCED level 3A>,NaN,NaN,NaN,Yes,More than 500 books,21.0,5.0,...,0.0,180.0,240.0,120.0,454.36206,482.38848,507.96344,633.025347,<ISCED level 3>,<ISCED level 3>
375960,3074,Male,She did not complete <ISCED level 1>,No,No,No,No,0-10 books,2.0,1.0,...,1.0,720.0,720.0,720.0,289.85044,244.57498,350.18648,391.487447,Father - Highest Schooling,<ISCED level 3A>
37423,792,Female,<ISCED level 3A>,No,No,No,Yes,26-100 books,NaN,NaN,...,NaN,NaN,NaN,NaN,478.35334,522.26286,458.16862,645.712720,Father - Highest Schooling,<ISCED level 3A>
2248045,24,Male,<ISCED level 2>,NaN,NaN,NaN,NaN,11-25 books,NaN,NaN,...,NaN,NaN,NaN,NaN,411.67626,365.02712,400.63410,529.671247,<ISCED level 4>,NaN

In [28]:
father_edu = father_edu[(father_edu['Completed_edu - Father'] != 'Father - Highest Schooling')]

In [29]:
father_edu['Education - Father'].value_counts()

<ISCED level 3>    306459
<ISCED level 5>    185130
<ISCED level 2>     84329
<ISCED level 4>     77265
<ISCED level 1>     35938
<ISCED level 6>     29589
<ISCED level 0>     16535
Name: Education - Father, dtype: int64

In [30]:
father_edu.drop(columns=['Completed_edu - Father'], axis=1, inplace=True)

In [31]:
father_edu.sample(10)

,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,How many books at home,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,...,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning time (minutes per week)- <Mathematics>,Learning time (minutes per week) - <test language>,Learning time (minutes per week) - <Science>,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father
2259824,2162,Male,She did not complete <ISCED level 1>,No,No,No,NaN,0-10 books,3.0,0.0,...,0.0,0.0,250.0,200.0,200.0,470.79764,461.74172,419.75010,607.695700,NaN
3505295,10852,Male,"<ISCED level 3B, 3C>",No,No,Yes,No,101-200 books,3.0,0.0,...,0.0,0.0,0.0,90.0,0.0,598.23180,549.23392,580.69752,775.465013,<ISCED level 3>
2170948,1978,Male,<ISCED level 3A>,NaN,NaN,NaN,NaN,26-100 books,5.0,0.0,...,0.0,0.0,200.0,150.0,NaN,486.76584,515.07106,545.63594,678.079560,NaN
2811434,456,Male,<ISCED level 2>,No,No,No,No,More than 500 books,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,584.21094,559.25824,554.96084,760.880320,<ISCED level 1>
3109657,7601,Female,<ISCED level 3A>,No,No,No,Yes,0-10 books,6.0,0.0,...,0.0,0.0,240.0,240.0,180.0,442.21064,476.82830,450.70870,603.986093,<ISCED level 2>
3772628,1312,Male,<ISCED level 1>,No,No,No,No,0-10 books,10.0,2.0,...,0.0,0.0,NaN,NaN,NaN,433.17498,406.88868,399.79486,557.677833,<ISCED level 3>
1379187,1053,Female,<ISCED level 2>,NaN,NaN,NaN,NaN,26-100 books,1.0,NaN,...,NaN,3.0,50.0,NaN,25.0,315.16590,409.07366,392.14844,477.184633,NaN
976434,712,Male,<ISCED level 3A>,No,Yes,No,No,26-100 books,28.0,18.0,...,0.0,6.0,225.0,270.0,540.0,578.83628,577.22184,595.15106,776.681820,<ISCED level 5>
1722677,25618,Male,"<ISCED level 3B, 3C>",No,No,Yes,No,26-100 books,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,607.50116,482.11112,497.79932,731.637587,<ISCED level 5>
3815642,4742,Male,<ISCED level 3A>,No,Yes,No,No,26-100 books,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,585.69094,545.62518,556.91904,757.975367,<ISCED level 3>

In [32]:
father_edu.duplicated().sum()

327461

In [33]:
# https://stackoverflow.com/questions/33042777/removing-duplicates-from-pandas-dataframe-with-condition-for-retaining-original
father_edu['Education - Father'] = father_edu['Education - Father'].astype('category')

father_edu['Education - Father'] = father_edu['Education - Father'].cat.set_categories(['<ISCED level 0>', 
                                                                                        '<ISCED level 1>', 
                                                                                        '<ISCED level 2>', 
                                                                                        '<ISCED level 3>',
                                                                                        '<ISCED level 4>', 
                                                                                        '<ISCED level 5>', 
                                                                                        '<ISCED level 6>'], ordered=True)
father_edu.sort_values(['Education - Father'], inplace=True)
# father_edu_clean = father_edu.drop_duplicates('Education - Father')

In [35]:
father_edu.duplicated().sum()

327461

In [37]:
father_edu.shape

(1263067, 21)

### Mother Edu

In [47]:
mother_edu = father_edu.copy()

In [48]:
mother_edu.head()

,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,How many books at home,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,...,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning time (minutes per week)- <Mathematics>,Learning time (minutes per week) - <test language>,Learning time (minutes per week) - <Science>,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father
4854888,4948,Female,<ISCED level 1>,No,No,NaN,No,101-200 books,2.0,2.0,...,0.0,0.0,315.0,NaN,450.0,441.04222,469.12348,494.90860,615.372173,<ISCED level 0>
4854895,4955,Female,<ISCED level 2>,No,No,NaN,No,26-100 books,5.0,NaN,...,0.0,0.0,NaN,NaN,NaN,486.22058,472.61846,536.31110,660.456907,<ISCED level 0>
4427204,2529,Male,<ISCED level 1>,No,No,No,No,0-10 books,2.0,2.0,...,3.0,1.0,135.0,180.0,90.0,406.06790,433.19248,466.84074,570.723007,<ISCED level 0>
4490059,6551,Female,<ISCED level 1>,No,No,No,NaN,0-10 books,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,367.35474,413.52178,372.28646,506.839240,<ISCED level 0>
4490057,6549,Female,<ISCED level 3A>,NaN,Yes,NaN,NaN,0-10 books,4.0,NaN,...,3.0,4.0,360.0,360.0,240.0,323.50054,407.16730,360.16410,471.444160,<ISCED level 0>

In [49]:
mother_edu['Mother - Highest Schooling'].value_counts()

<ISCED level 3A>                         661214
<ISCED level 3B, 3C>                     210837
<ISCED level 2>                          184488
<ISCED level 1>                           78980
She did not complete <ISCED level 1>      40916
Name: Mother - Highest Schooling, dtype: int64

In [50]:
pisa_clean['Mother - Highest Schooling'].value_counts()

<ISCED level 3A>                         236993
<ISCED level 3B, 3C>                      83048
<ISCED level 2>                           82614
<ISCED level 1>                           36556
She did not complete <ISCED level 1>      18768
Name: Mother - Highest Schooling, dtype: int64

In [51]:
mother_edu[['<ISCED level 1>', 
            '<ISCED level 2>', 
            '<ISCED level 3A>', 
            '<ISCED level 3B, 3C>', 
            'She did not complete <ISCED level 1>']] = pd.get_dummies(mother_edu['Mother - Highest Schooling'])

In [52]:
mother_edu.rename({'She did not complete <ISCED level 1>': '<ISCED level 0>',
                   '<ISCED level 3A>': '<ISCED level 3>', 
                   '<ISCED level 3B, 3C>': '<ISCED level 3>',
                   'Mother Qualifications - ISCED level 4': '<ISCED level 4>',
                   'Mother Qualifications - ISCED level 5A': '<ISCED level 5>',
                   'Mother Qualifications - ISCED level 5B': '<ISCED level 5>',
                   'Mother Qualifications - ISCED level 6': '<ISCED level 6>'}, axis='columns', inplace=True)

In [53]:
mother_edu['<ISCED level 0>'] = mother_edu['<ISCED level 0>'].astype(str)
mother_edu['<ISCED level 1>'] = mother_edu['<ISCED level 1>'].astype(str)
mother_edu['<ISCED level 2>'] = mother_edu['<ISCED level 2>'].astype(str)
mother_edu['<ISCED level 3>'] = mother_edu['<ISCED level 3>'].astype(str)

In [54]:
mother_edu['<ISCED level 0>'] = mother_edu['<ISCED level 0>'].replace(regex='1', value='<ISCED level 0>')
mother_edu['<ISCED level 1>'] = mother_edu['<ISCED level 1>'].replace(regex='1', value='<ISCED level 1>')
mother_edu['<ISCED level 2>'] = mother_edu['<ISCED level 2>'].replace(regex='1', value='<ISCED level 2>')
mother_edu['<ISCED level 3>'] = mother_edu['<ISCED level 3>'].replace(regex='1', value='<ISCED level 3>')
mother_edu['<ISCED level 4>'] = mother_edu['<ISCED level 4>'].replace(regex='Yes', value='<ISCED level 4>')
mother_edu['<ISCED level 5>'] = mother_edu['<ISCED level 5>'].replace(regex='Yes', value='<ISCED level 5>')
mother_edu['<ISCED level 6>'] = mother_edu['<ISCED level 6>'].replace(regex='Yes', value='<ISCED level 6>')

In [55]:
mother_edu.sample(10)

,Student ID,Gender,Mother - Highest Schooling,<ISCED level 6>,<ISCED level 5>,<ISCED level 5>,<ISCED level 4>,How many books at home,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,...,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father,<ISCED level 1>,<ISCED level 2>,<ISCED level 3>,<ISCED level 3>,<ISCED level 0>
3759451,1572,Male,<ISCED level 3A>,No,<ISCED level 5>,No,No,More than 500 books,4.0,0.0,...,643.79966,573.21206,632.07758,830.962987,<ISCED level 3>,0,0,<ISCED level 3>,0,0
1354840,332,Female,<ISCED level 1>,No,No,No,No,11-25 books,NaN,NaN,...,545.73142,545.29782,478.77658,705.179080,NaN,<ISCED level 1>,0,0,0,0
1958613,411,Female,<ISCED level 1>,No,No,No,NaN,11-25 books,NaN,NaN,...,507.40770,506.61492,505.91198,675.780767,NaN,<ISCED level 1>,0,0,0,0
4061222,1628,Male,<ISCED level 3A>,NaN,NaN,NaN,NaN,26-100 books,NaN,NaN,...,412.22154,397.02476,407.44124,542.969693,<ISCED level 3>,0,0,<ISCED level 3>,0,0
1077517,10524,Male,<ISCED level 3A>,<ISCED level 6>,NaN,NaN,NaN,11-25 books,1.0,0.0,...,374.28728,348.34668,359.60462,485.508620,NaN,0,0,<ISCED level 3>,0,0
1197478,5110,Male,She did not complete <ISCED level 1>,NaN,NaN,NaN,NaN,11-25 books,NaN,NaN,...,365.01790,277.69532,279.41068,429.047267,NaN,0,0,0,0,<ISCED level 0>
3707477,2986,Female,<ISCED level 3A>,No,No,<ISCED level 5>,No,26-100 books,NaN,NaN,...,533.58000,525.44008,540.50728,711.035787,<ISCED level 3>,0,0,<ISCED level 3>,0,0
3714981,849,Male,<ISCED level 3A>,NaN,NaN,No,NaN,11-25 books,NaN,NaN,...,291.25252,265.10478,296.56846,381.392760,<ISCED level 3>,0,0,<ISCED level 3>,0,0
3487970,15071,Female,<ISCED level 3A>,No,No,<ISCED level 5>,<ISCED level 4>,11-25 books,2.0,NaN,...,448.98740,467.21714,442.68930,602.627080,<ISCED level 3>,0,0,<ISCED level 3>,0,0
3793205,5525,Female,<ISCED level 3A>,No,<ISCED level 5>,<ISCED level 5>,No,11-25 books,2.0,NaN,...,365.17370,384.29118,350.93248,488.523687,<ISCED level 3>,0,0,<ISCED level 3>,0,0

In [56]:
mother_edu = pd.melt(mother_edu, 
                     id_vars=['Student ID', 'Gender',
                            'How many books at home',
                            'Out-of-School Study Time - Homework',
                            'Out-of-School Study Time - Guided Homework',
                            'Out-of-School Study Time - Personal Tutor',
                            'Out-of-School Study Time - Commercial Company',
                            'Out-of-School Study Time - With Parent',
                            'Learning time (minutes per week)- <Mathematics>',
                            'Learning time (minutes per week)  - <test language>',
                            'Learning time (minutes per week) - <Science>',
                            'Average Math Score',
                            'Average Reading Score',
                            'Average Science Score',
                            'Average Total Score',
                             'Education - Father'], var_name='Completed_edu - Mother', value_name='Education - Mother')

In [57]:
mother_edu.sample(10)

,Student ID,Gender,How many books at home,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,Out-of-School Study Time - Personal Tutor,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning time (minutes per week)- <Mathematics>,Learning time (minutes per week) - <test language>,Learning time (minutes per week) - <Science>,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father,Completed_edu - Mother,Education - Mother
8355754,2336,Male,26-100 books,18.0,9.0,0.0,0.0,5.0,250.0,250.0,250.0,499.85202,468.55826,513.55840,660.606900,NaN,<ISCED level 2>,<ISCED level 2>
9869631,6159,Male,More than 500 books,NaN,0.0,0.0,0.0,0.0,200.0,200.0,200.0,500.24150,461.50112,497.79932,653.261147,NaN,<ISCED level 3>,<ISCED level 3>
6433971,1066,Male,201-500 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,387.99656,307.68804,373.49870,485.726620,<ISCED level 2>,<ISCED level 1>,0
12580604,3858,Male,11-25 books,1.0,1.0,1.0,0.0,2.0,90.0,90.0,90.0,363.22636,382.75012,359.88436,489.695733,NaN,<ISCED level 0>,0
2967268,5650,Male,26-100 books,1.0,0.0,0.0,3.0,1.0,200.0,100.0,600.0,627.83144,568.07962,595.24432,806.328940,<ISCED level 3>,<ISCED level 5>,<ISCED level 5>
3900651,7807,Male,26-100 books,9.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,631.10298,582.51464,601.02574,815.248780,<ISCED level 2>,<ISCED level 5>,No
1406379,147,Male,11-25 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,520.49384,474.65304,545.54270,687.061140,<ISCED level 3>,<ISCED level 6>,No
2791937,11193,Male,26-100 books,7.0,2.0,0.0,4.0,1.0,220.0,220.0,220.0,487.85640,410.81822,475.88588,620.805633,<ISCED level 3>,<ISCED level 5>,NaN
4210080,3202,Female,0-10 books,5.0,3.0,0.0,0.0,0.0,150.0,150.0,300.0,448.67582,472.61844,452.48040,607.483493,<ISCED level 3>,<ISCED level 5>,No
4967581,3624,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,568.39850,547.52192,582.37600,755.564973,NaN,<ISCED level 5>,NaN

In [59]:
mother_edu = mother_edu[(mother_edu['Education - Mother'] != '0')] 
mother_edu = mother_edu[(mother_edu['Education - Mother'] != 'No')]

In [60]:
mother_edu.sample(70)

,Student ID,Gender,How many books at home,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,Out-of-School Study Time - Personal Tutor,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning time (minutes per week)- <Mathematics>,Learning time (minutes per week) - <test language>,Learning time (minutes per week) - <Science>,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father,Completed_edu - Mother,Education - Mother
1422014,7137,Male,101-200 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,572.60476,566.07478,581.62998,764.304760,<ISCED level 3>,<ISCED level 6>,NaN
378156,760,Female,101-200 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,534.67052,600.82010,560.18278,743.447973,<ISCED level 3>,Mother - Highest Schooling,<ISCED level 3A>
5300291,813,Female,201-500 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,498.29414,553.39980,581.62998,710.539353,<ISCED level 3>,<ISCED level 4>,NaN
5486146,972,Male,11-25 books,1.0,NaN,0.0,0.0,2.0,NaN,NaN,NaN,455.53046,457.89238,441.66356,603.538953,<ISCED level 3>,<ISCED level 4>,NaN
290519,2334,Female,26-100 books,24.0,0.0,0.0,0.0,0.0,180.0,180.0,90.0,453.11576,550.54032,538.36254,665.044793,<ISCED level 3>,Mother - Highest Schooling,<ISCED level 2>
9891867,4932,Male,26-100 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,533.26842,499.43314,535.37860,700.449527,NaN,<ISCED level 3>,<ISCED level 3>
4151143,2495,Female,11-25 books,1.0,1.0,NaN,2.0,2.0,135.0,135.0,90.0,364.23900,428.29596,449.77620,535.516720,<ISCED level 3>,<ISCED level 5>,NaN
3561942,913,Male,201-500 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,625.41670,610.02138,665.55388,842.136220,NaN,<ISCED level 5>,<ISCED level 5>
9229092,4888,Female,26-100 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,474.06916,428.21656,429.35472,601.903200,<ISCED level 3>,<ISCED level 3>,<ISCED level 3>
3686041,866,Male,101-200 books,4.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,328.01838,316.26886,391.30922,454.538280,NaN,<ISCED level 5>,NaN
133015,4555,Male,101-200 books,5.0,0.0,0.0,0.0,0.0,225.0,225.0,450.0,605.70960,551.39920,602.89070,788.569700,<ISCED level 2>,Mother - Highest Schooling,<ISCED level 2>
4414870,10700,Female,26-100 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,411.44260,408.59706,432.05894,554.513733,<ISCED level 5>,<ISCED level 5>,<ISCED level 5>
3683392,1487,Male,0-10 books,0.0,0.0,0.0,0.0,0.0,225.0,180.0,180.0,433.48652,393.81698,389.53750,550.109173,NaN,<ISCED level 5>,NaN
665319,4224,Female,11-25 books,2.0,1.0,1.0,0.0,1.0,200.0,250.0,200.0,433.09704,486.59832,458.91458,603.902327,<ISCED level 5>,Mother - Highest Schooling,<ISCED level 3A>
2032259,703,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,444.15796,357.48886,426.09102,557.298600,NaN,<ISCED level 6>,NaN
5427636,6525,Female,26-100 books,2.0,0.0,0.0,0.0,1.0,275.0,165.0,275.0,469.70710,497.40094,466.56098,634.458707,<ISCED level 3>,<ISCED level 4>,NaN
5646543,8202,Male,11-25 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,429.66974,457.25082,442.68930,586.426533,<ISCED level 5>,<ISCED level 4>,NaN
850588,13897,Female,201-500 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,506.39508,590.41466,616.50504,739.903287,NaN,Mother - Highest Schooling,<ISCED level 3A>
578808,4837,Male,NaN,2.0,0.0,1.0,0.0,0.0,240.0,240.0,240.0,461.21670,436.40026,510.48118,623.104947,<ISCED level 5>,Mother - Highest Schooling,<ISCED level 3A>
1248238,799,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,398.82382,392.37346,379.37336,523.131487,NaN,Mother - Highest Schooling,NaN
3867695,381,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,307.29866,343.77560,356.52742,438.300113,<ISCED level 2>,<ISCED level 5>,NaN
6061812,8638,Male,11-25 books,NaN,NaN,NaN,NaN,NaN,600.0,300.0,300.0,325.91524,339.20448,337.50466,442.846540,NaN,<ISCED level 4>,NaN
566657,2598,Female,201-500 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,578.75836,626.47636,614.73330,799.575460,<ISCED level 5>,Mother - Highest Schooling,<ISCED level 3A>
8326523,5518,Female,26-100 books,12.0,0.0,0.0,0.0,0.0,300.0,100.0,600.0,416.19410,489.61670,444.27452,588.759807,NaN,<ISCED level 2>,<ISCED level 2>
6205551,4733,Male,0-10 books,5.0,1.0,0.0,0.0,2.0,204.0,220.0,216.0,455.68624,432.23014,514.30436,619.302327,NaN,<ISCED level 4>,NaN
6705996,33062,Male,0-10 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,410.97522,420.04058,427.95598,556.649000,<ISCED level 3>,<ISCED level 1>,<ISCED level 1>
6232815,27231,Male,11-25 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,348.66022,351.31386,324.26334,457.632547,NaN,<ISCED level 4>,<ISCED level 4>
9024436,3034,Female,More than 500 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,569.41114,598.51662,561.76800,766.368967,<ISCED level 3>,<ISCED level 3>,<ISCED level 3>
8938177,28551,Male,26-100 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,506.08350,488.68706,516.82206,672.558707,<ISCED level 2>,<ISCED level 3>,<ISCED level 3>
1167386,8472,Female,0-10 books,6.0,NaN,NaN,NaN,NaN,405.0,360.0,360.0,344.92132,411.93316,396.81088,499.528893,NaN,Mother - Highest Schooling,"<ISCED level 3B, 3C>"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2772864,3408,Male,201-500 books,8.0,1.0,NaN,1.0,NaN,210.0,210.0,NaN,523.45382,545.30440,551.97688,714.729640,<ISCED level 3>,<ISCED level 5>,NaN
935868,15661,Female,0-10 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,352.94438,427.18394,424.59902,519.223907,NaN,Mother - Highest Schooling,<ISCED level 1>
4955170,1098,Female,More than 500 books,1.0,NaN,NaN,NaN,24.0,NaN,NaN,NaN,422.50350,390.24848,440.54458,558.600020,NaN,<ISCED level 5>,<ISCED level 5>
570575,3994,Female,201-500 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,377.32516,436.79506,407.53450,532.993293,<ISCED level 5>,Mother - Highest Schooling,<ISCED level 3A>
2444123,17137,Male,201-500 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,599.32230,489.88998,572.95784,753.830807,NaN,<ISCED level 6>,NaN
4662184,27169,Female,11-25 books,10.0,9.0,0.0,0.0,0.0,150.0,350.0,100.0,350.76336,399.62136,416.95262,506.033567,NaN,<ISCED level 5>,NaN
2037354,1067,Male,26-100 books,0.0,0.0,0.0,0.0,0.0,180.0,180.0,135.0,558.97336,459.09530,558.97052,712.004180,NaN,<ISCED level 6>,NaN
3824819,3815,Female,11-25 books,6.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,339.15720,370.62904,304.68110,451.208180,<ISCED level 1>,<ISCED level 5>,NaN
3181056,2202,Female,11-25 books,16.0,2.0,2.0,0.0,0.0,360.0,180.0,360.0,687.73172,675.80298,699.40320,916.889873,<ISCED level 5>,<ISCED level 5>,<ISCED level 5>
2803683,7312,Male,11-25 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,389.55446,419.15842,413.59564,537.287660,<ISCED level 3>,<ISCED level 5>,NaN
12167016,634,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,442.21064,469.52068,462.08504,605.342333,NaN,<ISCED level 0>,<ISCED level 0>
4395660,237,Female,101-200 books,5.0,4.0,NaN,NaN,4.0,200.0,160.0,160.0,513.17184,543.94752,521.20476,697.165320,<ISCED level 5>,<ISCED level 5>,<ISCED level 5>
62193,697,Male,26-100 books,2.0,1.0,0.0,0.0,0.0,180.0,225.0,225.0,338.06670,303.91892,350.65276,443.568360,<ISCED level 2>,Mother - Highest Schooling,<ISCED level 2>
5249348,28593,Male,26-100 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,611.62954,556.77224,598.22828,792.753200,<ISCED level 3>,<ISCED level 4>,<ISCED level 4>
2332905,2166,Female,0-10 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,414.32464,437.03336,360.91012,542.197587,NaN,<ISCED level 6>,NaN
6185493,4580,Female,0-10 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,271.54540,320.11090,367.34428,410.181993,NaN,<ISCED level 4>,<ISCED level 4>
256630,2197,Male,26-100 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,398.27854,426.77692,428.79522,550.709740,<ISCED level 3>,Mother - Highest Schooling,<ISCED level 2>
4828266,2736,Female,201-500 books,6.0,0.0,0.0,0.0,3.0,200.0,150.0,100.0,439.64012,493.66770,451.54794,608.165293,NaN,<ISCED level 5>,NaN
1167078,9574,Female,26-100 books,2.0,1.0,1.0,0.0,1.0,405.0,405.0,315.0,343.59714,388.73932,388.23198,488.055193,NaN,Mother - Highest Schooling,<ISCED level 3A>
3741144,9210,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,319.37216,283.57264,296.10218,406.139713,NaN,<ISCED level 5>,NaN
4968202,5751,Male,26-100 books,7.0,0.0,0.0,0.0,0.0,250.0,250.0,150.0,501.87724,488.92766,504.60648,665.762873,NaN,<ISCED level 5>,<ISCED level 5>
224428,841,Female,26-100 books,8.0,2.0,0.0,0.0,0.0,180.0,120.0,300.0,535.60524,506.61492,530.34316,702.722853,<ISCED level 3>,Mother - Highest Schooling,<ISCED level 3A>
5364744,15936,Female,101-200 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,520.26018,563.32866,532.30140,712.050140,<ISCED level 3>,<ISCED level 4>,NaN
637430,12757,Male,26-100 books,8.0,6.0,0.0,0.0,5.0,200.0,300.0,200.0,485.59746,433.51326,503.39428,636.034153,<ISCED level 5>,Mother - Highest Schooling,<ISCED level 2>
2013896,1628,Male,101-200 books,5.0,0.0,0.0,0.0,0.0,180.0,180.0,270.0,509.35506,440.24960,498.73184,652.563853,NaN,<ISCED level 6>,NaN
167557,68,Female,201-500 books,8.0,3.0,8.0,2.0,0.0,NaN,NaN,NaN,455.29678,495.33576,474.67362,626.867647,<ISCED level 3>,Mother - Highest Schooling,<ISCED level 3A>
5438977,1757,Male,26-100 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,635.30926,613.06876,631.89112,838.526133,<ISCED level 3>,<ISCED level 4>,NaN
1012276,11862,Female,201-500 books,10.0,4.0,0.0,0.0,1.0,220.0,180.0,150.0,694.58636,738.87122,695.67324,941.239060,NaN,Mother - Highest Schooling,<ISCED level 3A>
1067040,582,Female,More than 500 books,28.0,6.0,0.0,0.0,3.0,225.0,90.0,405.0,591.76662,659.83738,648.39610,830.588907,NaN,Mother - Highest Schooling,<ISCED level 3A>
777341,2153,Female,11-25 books,2.0,1.0,0.0,2.0,0.0,NaN,NaN,NaN,285.56626,402.63974,304.96084,426.244367,NaN,Mother - Highest Schooling,"<ISCED level 3B, 3C>"

In [61]:
mother_edu = mother_edu[(mother_edu['Completed_edu - Mother'] != 'Mother - Highest Schooling')]

In [62]:
mother_edu['Education - Mother'].value_counts()

<ISCED level 3>    872051
<ISCED level 5>    596385
<ISCED level 4>    206129
<ISCED level 2>    184488
<ISCED level 6>     85227
<ISCED level 1>     78980
<ISCED level 0>     40916
Name: Education - Mother, dtype: int64

In [63]:
mother_edu.drop(columns=['Completed_edu - Mother'], axis=1, inplace=True)

In [64]:
mother_edu.sample(10)

,Student ID,Gender,How many books at home,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,Out-of-School Study Time - Personal Tutor,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning time (minutes per week)- <Mathematics>,Learning time (minutes per week) - <test language>,Learning time (minutes per week) - <Science>,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father,Education - Mother
2022508,9339,Female,11-25 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,360.96742,344.73452,367.71728,478.128880,NaN,NaN
4329800,1097,Female,0-10 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,387.13974,413.91896,383.10334,523.767260,<ISCED level 5>,NaN
9006170,21742,Female,More than 500 books,14.0,0.0,0.0,3.0,4.0,220.0,220.0,165.0,506.23930,553.32038,523.53600,696.444993,<ISCED level 3>,<ISCED level 3>
4748353,2179,Female,0-10 books,6.0,NaN,0.0,0.0,1.0,250.0,300.0,150.0,380.59668,343.14592,359.88438,488.074553,NaN,NaN
9350865,918,Female,201-500 books,11.0,0.0,0.0,0.0,3.0,135.0,270.0,135.0,584.36674,640.21790,578.08654,795.679307,<ISCED level 4>,<ISCED level 3>
3320992,7982,Male,0-10 books,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,419.77724,339.12432,424.59904,534.425947,NaN,NaN
8566382,1938,Male,More than 500 books,4.0,4.0,4.0,4.0,4.0,180.0,180.0,225.0,412.06576,363.90444,410.05220,532.696053,NaN,<ISCED level 2>
9590490,5663,Male,201-500 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500.70884,463.18522,441.57032,635.391073,NaN,<ISCED level 3>
6327305,3074,Male,0-10 books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,352.00966,319.31626,344.03206,455.789213,<ISCED level 0>,<ISCED level 1>
5416083,1871,Female,11-25 books,NaN,NaN,NaN,NaN,NaN,90.0,90.0,90.0,422.34774,407.96162,377.41514,543.357413,<ISCED level 3>,NaN

In [65]:
mother_edu['Student ID'].duplicated()

1263071     False
1263074     False
1263083     False
1263085     False
1263090     False
1263091     False
1263093     False
1263095     False
1263111     False
1263112     False
1263121     False
1263141     False
1263144     False
1263146     False
1263161     False
1263166     False
1263168     False
1263172     False
1263182     False
1263187     False
1263191     False
1263196     False
1263201     False
1263203     False
1263208     False
1263221     False
1263225     False
1263228     False
1263229     False
1263237     False
            ...
12628706     True
12628886     True
12629156     True
12629267     True
12629304     True
12629305     True
12629377     True
12629499     True
12629520     True
12629610     True
12629647     True
12629674     True
12629695     True
12629723     True
12629728     True
12629782     True
12629808     True
12629854     True
12629922     True
12629936     True
12629960     True
12629966     True
12630019     True
12630067     True
12630142     True
12630276     True
12630293     True
12630605     True
12630626     True
12630648     True
Name: Student ID, Length: 3899140, dtype: bool

In [66]:
mother_edu['Education - Mother'] = mother_edu['Education - Mother'].astype('category')

mother_edu['Education - Mother'] = mother_edu['Education - Mother'].cat.set_categories(['<ISCED level 0>', 
                                                                                        '<ISCED level 1>', 
                                                                                        '<ISCED level 2>', 
                                                                                        '<ISCED level 3>',
                                                                                        '<ISCED level 4>', 
                                                                                        '<ISCED level 5>', 
                                                                                        '<ISCED level 6>'], ordered=True)
mother_edu.sort_values(['Education - Mother'], inplace=True)
# mother_edu_clean = mother_edu.drop_duplicates('Education - Mother')

In [70]:
mother_edu['Student ID'].duplicated().sum()

3865334

In [71]:
mother_edu.shape

(3899140, 17)

In [69]:
mother_edu_clean.shape

(8, 17)

In [84]:
pisa_clean = mother_edu.copy()

In [85]:
pisa_clean.shape

(3899140, 17)

In [90]:
duplicates = pisa_clean['Student ID'].duplicated().index

Int64Index([12455800, 12475494, 12622678, 12533982, 12550604, 12504251,
            12443148, 12550877, 12603191, 12533984,
            ...
             2871314,  2871590,  6087111,  6149270,  6149251,  2871808,
             2871468,  6087113,  6087121,  2871728],
           dtype='int64', length=3899140)

In [114]:
for x in duplicates:
    if pisa_clean.iloc[x]['Education - Mother'] == '<ISCED level 0>':
        pisa_clean.drop(pisa_clean.index[[x]])

IndexError: single positional indexer is out-of-bounds

In [109]:
pisa_clean.iloc[:5]['Education - Mother']

12455800    <ISCED level 0>
12475494    <ISCED level 0>
12622678    <ISCED level 0>
12533982    <ISCED level 0>
12550604    <ISCED level 0>
Name: Education - Mother, dtype: category
Categories (7, object): [<ISCED level 0> < <ISCED level 1> < <ISCED level 2> < <ISCED level 3> < <ISCED level 4> < <ISCED level 5> < <ISCED level 6>]

In [119]:
pisa_clean.iloc[6149251]['Education - Mother']

IndexError: single positional indexer is out-of-bounds

In [ ]:
pisa_clean = mother_edu.copy()

In [ ]:
pisa_clean.shape

### 4. Missing values in relevant columns ('Mother Highest Schooling', 'Father Highest Schooling', 'How many books at home', 'Out-of-School Study Time - Homework', 'Out-of-School Study Time - Guided Homework', 'Out-of-School Study Time - Personal Tutor','Out-of-School Study Time - Commercial Company', 'Out-of-School Study Time - With Parent', 'Learning time (minutes per week)- Mathematics', 'Learning time (minutes per week)  - test language', 'Learning time (minutes per week) - Science')

Due to the amount of rows in this dataframe, we can comfortably remove the rows with missing values.

In [ ]:

pisa_clean.replace(["NaN"], np.nan, inplace = True)
pisa_clean.dropna(inplace = True)

In [ ]:
# Check to see if null values correctly dropped
pisa_clean

In [ ]:
# Confirm with smaller shape of dataframe
pisa_clean.shape

### 5. Create a total for Out-of-School Study Time and Learning time (minutes per week)

In [ ]:
# Create total of Out-of-School Study Time
pisa_clean['Out-of-School Study Time - Total'] = pisa_clean['Out-of-School Study Time - Homework'] + pisa_clean['Out-of-School Study Time - Guided Homework'] + pisa_clean['Out-of-School Study Time - Personal Tutor'] + pisa_clean['Out-of-School Study Time - Commercial Company'] + pisa_clean['Out-of-School Study Time - With Parent']

# Create total of Learning time (minutes per week)
pisa_clean['Learning time (minutes per week) - Total'] = pisa_clean['Learning time (minutes per week)- <Mathematics>'] + pisa_clean['Learning time (minutes per week)  - <test language>'] + pisa_clean['Learning time (minutes per week) - <Science>']

In [ ]:
list(pisa_clean)

<a id='assessing2'></a>
### Final Assessment

In this section, we will do the preliminary visual and programmatic assessment of the pisa datasets to determine whether or not it holds any major quality or tidiness issues.

In [ ]:
pisa_clean

In [ ]:
pisa_clean.info()

<a id='sav'></a>
## Store

In [ ]:
# Store the clean DataFrame in a CSV file
pisa_clean.to_csv("pisa_df.csv", index=False, encoding='utf8')

<a id='conclusion'></a>
## Conclusion

<a id='references'></a>
## References